.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 18%;
  padding: 1.5rem;
  border-radius: 0.96875rem;
  border: 0.969px solid #d9d9d9;
  position: relative;
  margin: 1rem;

  .product-img {
    height: 12rem;
    width: 100%;
  }

  .icon-overlay {
    position: absolute;
    right: 0.55rem;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0.66rem;
    width: 3rem;
    height: 3rem;
  }

  .title {
    color: #070707;
    font-size: 0.96875rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: capitalize;
    margin: 1.5rem 0 0.6rem 0;
    padding: 0;
  }

  .footer {
    a {
      text-decoration: none;
    }
  }

  .description {
    color: #787878;
    font-size: 0.96875rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: lowercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .price {
    color: #b93c3c;
    font-size: 1.08988rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-variant: small-caps;
    line-height: 100%;
    padding: 0.8rem 0;
  }

  .card-btns {
    display: flex;

    .fav-icon {
      width: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.36331rem;
      background: #f5f5f5;
      margin-inline-start: 0.5rem;
      cursor: pointer;
    }
  }
}
