.cart-item {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 0.8rem;
  border-bottom: solid 1px #eaeaea;

  .item-img {
    width: 5.3125rem;
    height: 6.125rem;
  }

  .item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 1rem;

    .name {
      color: #444;
      font-size: 1rem;
      font-family: "Montserrat", Fallback, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-variant: small-caps;
      line-height: 100%;
    }
    .meta {
      font-size: 0.875rem;
      color: rgba(7, 7, 7, 0.6);
    }
    .price {
      color: #b93c3c;
      font-weight: 600;
    }
  }

  .delete-icon {
    margin-inline-start: auto;
    cursor: pointer;
  }
}
